
	<section class="intro-section">
		<div class="container">
			<div class="row">
				<div class="col-md-1 col-lg-2"></div>
				<div class="col-md-10 col-lg-8">
					<div class="intro">
						<div class="profile-img"><img src="images/profile-1-250x250.jpg" alt=""></div>
						<h2><b>RANDRIANTSIVOHO</b></h2>
						<h2><b>Tolotra Nomenjanahary</b></h2>
						<h4 class="font-yellow">Informaticien Polyvalent</h4>
						<ul class="information margin-tb-30">
							<li><b>DATE DE NAISSANCE : </b>November 22, Béfélatanana</li>
							<li><b>EMAIL : </b>tolotramad1@gmail.com</li>
						</ul>
						<ul class="social-icons">
							<li><a href="https://www.linkedin.com/in/tolotra-nomenjanahary-randriantsivoho-a7631a137/"><i class="ion-social-linkedin"></i></a></li>
							<li><a href="https://instagram.com/tolotra__nomenjanahary/"><i class="ion-social-instagram"></i></a></li>
							<li><a href="https://www.facebook.com/R.Tolotra.N"><i class="ion-social-facebook"></i></a></li>
							<li><a href="https://twitter.com/RANDRIANTSIVOHO"><i class="ion-social-twitter"></i></a></li>
						</ul>
					</div><!-- intro -->
				</div><!-- col-sm-8 -->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- intro-section -->
	
	<section class="accordian-section section">
		<div class="container">
		
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>COMPETENCE</b></h4>
					</div>
				</div><!-- col-sm-12 -->
				
				<div class="col-md-12 col-lg-6">
				
					<div class="line-progress margin-b-20" data-prog-percent=".70"><div></div>
						<p class="progress-title"><b>HTML</b></p></div>
					
					<div class="line-progress margin-b-20" data-prog-percent=".77"><div></div>
						<p class="progress-title"><b>CSS</b></p></div>

					<div class="line-progress margin-b-20" data-prog-percent=".80"><div></div>
						<p class="progress-title"><b>RUBY</b></p></div>

					<div class="line-progress margin-b-20" data-prog-percent=".50"><div></div>
						<p class="progress-title"><b>JAVA</b></p></div>

					<div class="line-progress margin-b-20" data-prog-percent=".65"><div></div>
						<p class="progress-title"><b>PHP</b></p></div>

					<div class="line-progress margin-b-20" data-prog-percent=".55"><div></div>
						<p class="progress-title"><b>C</b></p></div>
					
					<div class="line-progress margin-b-20" data-prog-percent=".55"><div></div>
						<p class="progress-title"><b>C++</b></p></div>

					<div class="line-progress margin-b-20" data-prog-percent=".50"><div></div>
						<p class="progress-title"><b>PYTHON</b></p></div>

					<div class="line-progress margin-b-50" data-prog-percent=".60"><div></div>
						<p class="progress-title"><b>SQL</b></p></div>


				</div><!-- col-sm-6 -->
				
				<div class="col-md-12 col-lg-6">
					<div class="panel margin-b-30">
						<div class="panel-area margin-b-30">
							<h5 class="panel-title active"><b>DEVELOPMENT WEB</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Programmeur spécialisé, ou expressément impliqué dans le développement des applications du World Wide Web, ou des applications qui sont exécutées à partir d'un serveur web sur un navigateur web et qui utilisent le protocole HTTP comme vecteur de transmission de l'information.</p>
						</div><!-- panel-area -->
						
						<div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>DESIGNEUR</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Conçoit et produit des dessins, des illustrations, des maquettes et des croquis pour illustrer et communiquer efficacement des renseignements, une idée ou un message pour des publications, de la publicité, des films, des affiches et des panneaux indicateurs.</p>
						</div><!-- panel-area -->
						
						<!-- <div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>MOTION DESIGN & VIDEO</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Motion design, ce sont déjà deux mots : motion et design. Motion signifiant le mouvement, l’animation alors que le design signifie la création, l’artistique. Le motion design c’est donc cette discipline graphique et ces techniques d’animation qui vont mixer ces deux compétences afin de produire des films d’animation, de l’habillage, des génériques, des vidéos en motion design, des jingles vidéo.</p>
						</div><! panel-area --> 

						<div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>TECHNICIEN DE MAINTENANCE</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Les domaines du technicien en maintenance informatique en entreprise sont :le matériel (monter un ordinateur pièce par pièce, installer des périphériques);le logiciel (installation des logiciels, de système d'exploitation ou des mises à jour);la maintenance (sauvegardes, débogage, les lags, les virus);la documentation et la formation aux logiciels étude et choix de logiciels à installer</p>
						</div><!-- panel-area -->

						<div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>ADMINISTRATEUR RESEAU</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc"> Personne chargée de la gestion du réseau, c'est-à-dire de gérer les comptes et les machines d'un réseau informatique d'une organisation. il éffectue les gestion du câblage réseau;gestion du routage ;gestion de la sécurité;gestion des droits d'accès des utilisateurs.
							</p>
						</div><!-- panel-area -->

						<div class="panel-area margin-b-30">
							<h5 class="panel-title"><b>ADMINISTRATEUR SYSTEME</b>
								<i class="icon minus ion-minus"></i><i class="icon plus ion-plus"></i></h5>
							<p class="panel-desc">Les savoir-faire en administration des systèmes incluent la connaissance des systèmes d'information et de la manière dont les gens les utilisent dans une organisation. Ceci comprend à la fois une certaine connaissance des systèmes d'exploitation et des logiciels applicatifs, ainsi que le dépannage matériel et logiciel.</p>
						</div><!-- panel-area -->
					</div><!-- panel -->
				</div><!-- col-sm-6-->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- accordian-section -->
	
	
	<section class="loaders-section section">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>LANGUAGE</b></h4>
					</div>
				</div><!-- col-sm-12 -->
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".97">
							<div></div>
							<h6 class="progress-title">MALAGASY</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".75">
							<div></div>
							<h6 class="progress-title">FRANCAIS</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-30">
						<div class="radial-progress" data-prog-percent=".50">
							<div></div>
							<h6 class="progress-title">ANGLAIS</h6>
						</div>
					</div><!-- radial-prog-area-->
				</div><!-- col-sm-6-->
				<!--
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="radial-prog-area margin-b-50">
						<div class="radial-progress" data-prog-percent=".45">
							<div></div>
							<h6 class="progress-title">ALLEMAND</h6>
						</div>
					</div>
				</div>
				-->
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- loaders-section -->
	
	
	<!-- <section class="progression-section section" id="counter">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>PROGRESSION</b></h4>
					</div>
				</divcol-sm-12 --
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="400" data-count="6">0</span></b></h1>
						<h5 class="desc"><b>Coder Degrees</b></h5>
					</div><!- counter --
				</div><!-col-md-3--
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="1400" data-count="2">0</span></b></h1>
						<h5 class="desc"><b>Project Completed</b></h5>
					</div><!- counter --
				</div><!- col-md-3--
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="700" data-count="1">0</span></b></h1>
						<h5 class="desc"><b>Satisfied Clients</b></h5>
					</div><!-counter --
				</div><!- col-md-3--
				
				<div class="col-sm-6 col-md-6 col-lg-3">
					<div class="counter margin-b-30">
						<h1 class="title"><b><span class="counter-value" data-duration="2000" data-count="1">0</span></b></h1>
						<h5 class="desc"><b>Team projects</b></h5>
					</div><!- margin-b-30 --
				</div><!- col-md-3--
				
			</div><!- row --
		</div><!- container --
	</section><!- progression-section -- -->
	
	
	<section class="iconboxes-section section" id="counter">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="heading">
						<h4><b>HOBBIES</b></h4>
					</div>
				</div><!-- col-sm-12 -->
				
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="iconbox margin-b-30">
						<i class="line-icon icon-rocket"></i>
						<h5 class="margin-tb-20"><b>GAME</b></h5>
						<p>Activité d'ordre psychique ou bien physique pensée pour divertir et improductive à court terme. Le jeu entraîne des dépenses d'énergie et de moyens matériels, sans créer aucune richesse nouvelle. La plupart des individus qui engagent n'en retirent que du plaisir.</p>
					</div><!-- counter -->
				</div><!-- col-md-4 -->
				
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="iconbox margin-b-30">
						<i class="line-icon icon-cut"></i>
						<h5 class="margin-tb-20"><b>SPORT</b></h5>
						<p>Ensemble d'exercices physiques ou mentaux se pratiquant sous forme de jeux individuels ou collectifs pouvant donner lieu à des compétitions. Le sport est un phénomène quasi universel dans le temps et dans l'espace humain.</p>
					</div><!-- counter -->
				</div><!-- col-md-4 -->
				
				<div class="col-sm-6 col-md-6 col-lg-4">
					<div class="iconbox margin-b-30">
						<i class="line-icon icon-star"></i>
						<h5 class="margin-tb-20"><b>MUSIC</b></h5>
						<p>Une activité culturelle consistant à combiner sons et silences au cours du temps. Les ingrédients principaux sont le rythme (façon de combiner les sons dans le temps), la hauteur (combinaison dans les fréquences), les nuances et le timbre. Elle est aujourd'hui considérée comme une forme de poésie moderne.</p>
					</div><!-- counter -->
				</div><!-- col-md-4 -->
				
			</div><!-- row -->
		</div><!-- container -->
	</section><!-- progression-section -->